/* Base styles */
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.card {
  width: 100%; /* Take full width by default */
  max-width: 525px; /* Maximum width for larger screens */
  background-color: #388659;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0; /* Initially set opacity to 0 */
  animation: fadeIn 0.5s ease forwards; /* Apply fade-in animation */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.card img {
  width: 75%;
  height: auto;
}

.card-content {
  padding: 16px;
}

.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
  color: #ffffff;
}

.card-content p {
  color: #ffffff;
  font-size: 15px;
}

.card-content--button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #2b2b2b;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 16px;
}

.card-content--button:hover {
  background-color: #ffffff;
  color: #2b2b2b;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
