.page--color {
    background-color: #388659;
}

.hero {
    font-family: "Poppins", sans-serif;
    padding: 10px;
}

.hero__block {
    background-color: #388659;
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.hero__title {
    font-weight: 600;
    font-size: 80px;
    padding-top: 30px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    width: 900px;
    text-align: right;
}

.hero__description {
    font-weight: 500;
    font-size: 40px;
    padding: 20px;
    color: #ffffff;
    text-align: center;
}

.hero__button {
    cursor: pointer;
    font-weight: 500;
    font-size: 40px;
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    text-align: center;
    max-width: 100%;
    background-color: #33693a;
    border-radius: 10px 10px;
    border: none;
}

.hero__button:hover {
    background-color: #52AA5E;
    border: 5px #ffffff;
}

/* Text Translation */
.text-in-front {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -130%);
    z-index: 10;
    text-align: right;
}
/* Hero Button Translation */
.button-in-front {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(200%, -110%);
    z-index: 10;
    text-align: right;
}