include navbar 
doctype html 
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ../styles/main.css
    title 404 - Error Page Not Found 
  body.page  
    header
    section
      h2.logo--hover 404 Not Found
      img(src="images/logo-file.png", alt="Logo")
    footer
