include navbar 
doctype html 
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ../styles/main.css
    title About
  body.page  
    header
    section
      h2.logo--hover About 
      p.text-block.text-block__paragraph.text-block__paragraph--center Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        | Donec sit amet enim non odio blandit efficitur et dictum nisl. 
        | Vestibulum pellentesque posuere placerat.
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        | Sed eget libero a justo commodo consequat. 
        | Maecenas nec nisi eget libero suscipit efficitur. 
        | Nulla facilisi. Integer eu ipsum vitae ligula bibendum lacinia vel a neque. 
        | Mauris ultricies, justo nec ultrices tristique, justo lorem sagittis ipsum, vel hendrerit libero mauris nec nulla. 
        | Ut tempor pharetra vestibulum. In hac habitasse platea dictumst. 
        | Duis vestibulum, nulla vitae tincidunt rutrum, eros libero ultricies nisl, nec dictum libero ipsum eu urna. 
        | Integer sagittis, dolor a lobortis aliquam, sem.
      p TO do or TO NOT TO DO.
    footer