doctype html
include components/navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | About Us
    script(src="https://kit.fontawesome.com/17c0fad60d.js" crossorigin="anonymous")
  body
    .page
      .id-card-container 
        .id-card 
          h1.id-card__heading Welcome to Pioneer 
          p.id-card__text-block(style="padding: 10px; text-align: left; padding-left: 20px") At Pioneer, we are passionate about exploring and understanding the diverse facets of our world. 
            | We aim to provide comprehensive and accurate information on global populations,
            | languages spoken, and other essential data that reflects the rich tapestry of human societies.
          h2.id-card__sub-heading(style="text-align: center; padding-left: 0") Our Mission 
          p.id-card__text-block(style="padding: 10px; text-align: center; padding-left: 20px") Our mission is to facilitate knowledge and awareness about the world's demographics, cultures, and languages. 
            | We believe that understanding these fundamental aspects fosters empathy, cooperation, 
            | and a deeper appreciation for our global community.
          h2.id-card__sub-heading(style="text-align: center; padding: 10px; padding-left: 0") What We Offer 
          <br>
          li.id-card__text-block(style="padding: 10px; text-align: left; padding-left: 20px") <b>Population Insights</b>: Discover up-to-date statistics on population demographics worldwide, 
            | including population growth rates, age distributions, and urbanization trends.
          li.id-card__text-block(style="padding: 10px; text-align: left; padding-left: 20px") <b>Language Diversity</b>: Explore the fascinating array of languages spoken across different regions, 
            | along with insights into language families, endangered languages, and linguistic diversity.
          li.id-card__text-block(style="padding: 10px; text-align: left; padding-left: 20px") <b>Cultural Context</b>: Gain insights into cultural practices, traditions,
            | and societal norms that shape communities around the globe.
          