doctype html
include components/navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | About Us
  body
    .page
      .id-card-container 
        .id-card 
          h1.id-card__heading About Us 
          p.id-card__text-block We provide services to.