include navbar 
doctype html 
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ../styles/main.css
    title Pioneers | Contact
  body.page  
    header
    section
      h2.logo--hover Contact
      p.text-block.text-block__paragraph.text-block__paragraph--center If you are facing Any issues 
      | Contact us at 
      | helpdesk@Pioneers.co.uk
    footer
