doctype html
include navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | Countries  
  body
    .page
      h1.page.page__heading Countries
      tr
        th
        th 
        th 
        th 
        th 
      tr 
        td 
        td 
        td 
        td 
        td 
      tr 