include navbar 
doctype html 
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ../styles/main.css
    title Pioneers | Database
  body.page  
    header
    section
      h2.logo--hover Databases
      p.text-block.text-block__paragraph.text-block__paragraph--center These are the available databases: 
      .hyperlink-box
        a.nav-link(href="/countries") Countries
        a.nav-link(href="/cities") Cities