include navbar 
doctype html 
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ../styles/main.css
      include ../styles/cards.css
    title Pioneers | Database
  body.page  
    section
      h2.page--title Databases
      .card-container
        .card
          img(src="logo-file.png", alt="logo")
          .card-content
            h3 World
            p All our information of the world can be found here. 
            a.card-content--button(href="/world") Access
        
        .card
          img(src="logo-file.png", alt="logo")
          .card-content
            h3 Continent
            p Continent database here.
            a.card-content--button(href="/continent") Access
        
        .card
          img(src="logo-file.png", alt="logo")
          .card-content
            h3 Region
            p Region database here.
            a.card-content--button(href="/region") Access

        .card
          img(src="logo-file.png", alt="logo")
          .card-content
            h3 Country
            p Country database here.
            a.card-content--button(href="/district") Access

        .card
          img(src="logo-file.png", alt="logo")
          .card-content
            h3 District
            p District database here.
            a.card-content--button(href="/district") Access

        .card
          img(src="logo-file.png", alt="logo")
          .card-content
            h3 Cities
            p Cities database here.
            a.card-content--button(href="/cities") Access
        
        .card 
          img(src="logo-file.png", alt="logo")
          .card-content 
            h3 Country Langauges 
            p Country language database here.
            a.card-content--button(href="/languages") Access

