include navbar 
doctype html 
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ../styles/main.css
      include ../styles/hero.css
    script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js")
    title Pioneers | Home
  body
    script(src="scripts/globe-script.js")
    section.hero__block
      p.hero.hero__title Painting the World with Numbers.
      p.hero.hero__description Representing the world with numbers and data to better interupt our ever changingness.
      a(href="/database")
        button.hero.hero_button Get Started

    footer