include navbar 
doctype html 
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ../styles/main.css
      include ../styles/home.css
    title Pioneers | Home
  body.background
    header
    section
      p.text-block.text-block__paragraph.text-block__paragraph--center 
      p.block
    footer
