doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Home
  body
    header
      h1 Home
    section
      h2 Introduction
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        | Donec sit amet enim non odio blandit efficitur et dictum nisl. 
        | Vestibulum pellentesque posuere placerat.
    footer