include navbar 
doctype html 
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ../styles/main.css
      include ../styles/login.css
    script(src="https://kit.fontawesome.com/b61a3544ea.js" crossorigin="anonymous")
    title Pioneers | Login  
  body.page
    section.form-box 
      h1 Login
      form(action="/login" method="POST")
        .input-group 
          .input-field 
            i(class="fa-solid fa-envelope")
            input#email(type="email" placeholder="Email")

          .input-field 
            i(class="fa-solid fa-lock")
            input#password(type="password" placeholder="Password")
          
          p.login--redirect--text
            a.login--redirect--link(href="/") Forgot Password? 
          p.login--redirect--text Don't have an Account? 
            a.login--redirect--link(href="/register") Create Account 
        
        .button-field
          button(type="login") Login
    
  footer