
style 
    include ../styles/navbar.css 
nav
    ul.navbar 
        li.nav-item
            a.nav-link(href="/") Home
        li.nav-item  
            a.nav-link(href="about") About 
        li.nav-item  
            a.nav-link(href="contact") Contact
        li.nav-item  
            a.nav-link(href="countries") Countries  
        li.nav-item  
            a.nav-link(href="cities") Cities