
style 
    include ../styles/navbar.css 
script(src="https://kit.fontawesome.com/b61a3544ea.js" crossorigin="anonymous")

nav
    ul.navbar 
        li.nav-item
            a.nav-link(href="/") Home
        li.nav-item  
            a.nav-link(href="/about") About 
        li.nav-item  
            a.nav-link(href="/contact") Contact
        li.nav-item 
            a.nav-link(href="/database") Databases
        li.nav-item 
            a.nav-link(href="/reports") Reports 
        li.nav-item--right 
            a.nav-link(href="/login")
                i(class="fa-solid fa-user")