include navbar 
doctype html 
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ../styles/main.css
    title Pioneers | Register 
  body.page  
    header
    section
      h2.logo--hover Register 
      p.text-block.text-block__paragraph.text-block__paragraph--center Temporary Register Page
    footer