include navbar 
doctype html 
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ../styles/main.css
    title Pioneers | Reports
  body.page  
    header
    section
        h2.logo--hover Reports 
        p.text-block.text-lock__paragraph.text-block__paragraph--center 
        