doctype html
include ../components/navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | About Us
  body
    .page
      h1.page.page__heading World Database
      p.page.page__text-block Temporary World Database Page
      table.table-sortable.content-table
        thead
          tr 
            th ID
            th Username 
            th Email 
            th User Type 
            th Edit
            th Delete 
          tr 
        tbody
              td 1 
              td Empty 
              td Empty 
              td Empty 
              td
                form(action=`world-database/edit/1`, method="POST")
                  button.content-table__input-field.content-table__input-field--blue(type="submit")
                    i.fa-solid.fa-pen-to-square
              td 
                form(action=`world-database/delete/1`, method="POST")
                  button.content-table__input-field.content-table__input-field--red(type="submit")
                    i.fa-solid.fa-trash
