doctype html
include ../components/navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | Districts 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script.
      $(document).ready(function() {
        $('.active-row').click(function() {
          var url = $(this).data('url');
          window.location.href = url;
        });

        $('#searchInput').keyup(function() {
          var searchText = $(this).val().toLowerCase();
          $('.content-table tbody tr').each(function() {
            var rowText = $(this).text().toLowerCase();
            if (rowText.includes(searchText)) {
              $(this).show();
            } else {
              $(this).hide();
            }
          });
        });

        $('#searchInput').click(function() {
          $(this).addClass('expand');
        });

        $('#searchInput').blur(function() {
          if ($(this).val() === '') {
            $(this).removeClass('expand');
          }
        });

        $('#searchInput').keyup(function() {
          var searchText = $(this).val().toLowerCase();
          $('.content-table tbody tr').each(function() {
            var rowText = $(this).text().toLowerCase();
            if (rowText.includes(searchText)) {
              $(this).show();
            } else {
              $(this).hide();
            }
          });
        });        
      });

  body
    .page
      h1.page.page__heading Districts 
      .search-wrapper
        input#searchInput(type="text", placeholder="Search countries...")
      table.table-sortable.content-table
        thead 
          tr
            th Country Code 
            th District Name
            th Population 
        tbody 
        

      
      script(src='scripts/table.js')