doctype html
include ../components/navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | About Us
  body
    .page
      h1.page.page__heading User Database
      p.page.page__text-block Temporary User Database Page