doctype html 
include ../components/navbar.component.pug
html 
    head    
        link(rel="stylesheet", href="/css/main.css")
        title Pioneer | Reports
    body 
        .page 
            h1.page.page__heading Population Page 
            table.table-sortable.content-table 
                thead 
                    tr
                        th Continent Name 
                        th Population 
                    tr 
                tbody 
                    tr 
                        td bang 
                        td 2020203030303
                    tr 
                thead 
                    tr
                        th Continent Name 
                        th Population 
                    tr 
                tbody 
                    tr 
                        td bang 
                        td 2020203030303
                    tr
                thead 
                    tr
                        th Continent Name 
                        th Population 
                    tr 
                tbody 
                    tr 
                        td bang 
                        td 2020203030303
                    tr
