doctype html 
include ../components/navbar.component.pug
html 
    head    
        link(rel="stylesheet", href="/css/main.css")
        title Pioneer | Reports 
    body
        .page 
            .id-card-container 
                .id-card 
                h1.id-card__heading INSERT CITY/Country/Region 
                h2.id-card__sub-heading Population 
                p.id-card__text-block 2020239239020323
                h2.id-card__subheading Percentage Living In 
                p.id-card__text-block 36%
                h2.id-card__subheading Percentage Living Out 
                p.id-card__text-block 64%