@import 'colours';
@import 'fonts';
@import 'animations';


.Hero {

    margin: 0;
    height: 100vh;
    background-color: aliceblue;
    background-image: url("../images/background/greenmountain8.png");
    background-size: cover;
    background-position: center;

    body    {
        margin: 0;
    }

    &__hero-text {
        height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;

        &__heading {
            font-size: 3rem;
            font-weight: 700;
        }

        &__smallText {
            font-size: 2rem;
            font-weight: 300;
        }

        &__button {
            background-color: black;
            color: #fff;
            padding: 0.5rem 1rem;
            margin: 20px;
            border: none;
            outline: none;
            border-radius: 35px;
            font-size: 1.5rem;
            font-weight: bold;
            cursor: pointer;
            transition: scale 0.2 ease;

            &:hover {
                scale: 1.05;
                color: #000000;
                background-color: white;
            }

            &action_btn:active {
                scale: 0.95;
            }

        }



    }


    
    
}