.hero {
    &__heading {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        color: $white;
        z-index: 10;
    }

    &__link {
        font-size: 40px;
        font-weight: 700;
        text-align: center;
        color: $white;
        z-index: 10;
        text-decoration: none;

        &:hover {
            color: $green;
        }
    }
}