@import 'colours';
@import 'fonts';
@import 'media-queries';

.table-sortable th{
    cursor: pointer;

    &.th-sort-asc {

        background: rgba(0, 0, 0, 0.1);

        &::after{
            content: "\25b4";
            &{
                margin-left: 5px;
            }
        }
    }

    &.th-sort-desc {

        background: rgba(0, 0, 0, 0.1);

        &::after{
            content: "\25be";
            &{
                margin-left: 5px;
            }
        }
    }
}

.content-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9rem;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    & thead tr{
        background-color: #52AA5E ;
        color: white;
        text-align: left;
        font-weight: bold;
    }

    & th, td {
        padding: 12px 15px;
    }

    & tbody tr {
        border-bottom: 1px solid #dddddd;

        &.active-row {
            font-weight: bold;
            color: #52AA5E;
        }

        &:nth-of-type(even) {
            background-color: #f8f7f7;
        }

        &:nth-of-type(odd) {
            background-color: #ffffff;
        }
    
        & tbody tr:last-of-type {
            border-bottom: 2px solid #52AA5E ;
        }

        &[data-url] {
            cursor: pointer;
            color: #2b2b2b;

            &:hover {
                background-color: #52AA5E;
                color: #ffffff;
            }
        }
    }

    &__link {
        text-align: center;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: #2b2b2b;
        background: none;
        border: none;

        &--blue {
            &:hover {
                color: blue;
            }
        }

        &--red {
            &:hover {
                color: red;
            }
        }

        &--green {
            color: #2b2b2b;
            text-decoration: none;
            &:hover {
                text-decoration: none;
                color: #96fca7;
            }
        }
    }

}