doctype html
include ../components/navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | Reports 
  body
    .page
      h1.page.page__heading Reports Page
      p.page.page__text-block Temporary Reports Page