doctype html
include ../components/navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | Reports 
  body
    .page
      h1.page.page__heading Reports Page
      p.page.page__text-block Temporary Reports Page
      .card-container           
        .card  
          img.card__img(src="images/dashboard/continent-icon.png", alt="Continent")
          .card__content 
            h3.card__content__title Population Report  
            p.card__content__paragraph Continent Database 
            a.card__content__button(href="/continent") Access

        .card  
          img.card__img(src="images/dashboard/continent-icon.png", alt="Continent")
          .card__content 
            h3.card__content__title Continent 
            p.card__content__paragraph Continent Database 
            a.card__content__button(href="/continent") Access