doctype html
include ../components/navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | Reports 
  body
    .page
      h1.page.page__heading Reports Page
      .card-container           
        .card  
          img.card__img(src="images/dashboard/PopulationIcon.png", alt="Population")
          .card__content 
            h3.card__content__title World Population  
            p.card__content__paragraph Population Database 
            a.card__content__button(href="/reports/worldPopulation") Access
        
        .card  
          img.card__img(src="images/dashboard/continent-icon.png", alt="Continent")
          .card__content 
            h3.card__content__title Languages Report  
            p.card__content__paragraph Languages Report 
            a.card__content__button(href="/languages") Access
            
  div
    a(href="/reports/countryLargestSmallest1") Countries in the world - largest to smallest
    a(href="/reports/countryLargestSmallest2") Countries in a continent - largest to smallest
    a(href="/reports/countryLargestSmallest3") Countries in a region - largest to smallest
    a(href="/reports/countryTopN1") Top 'N' countries in the world
    a(href="/reports/countryTopN2") Top 'N' countries in a continent
    a(href="/reports/countryTopN3") Top 'N' countries in a region
    a(href="/reports/citiesLargestSmallest1") Cities in the world - largest to smallest
    a(href="/reports/citiesLargestSmallest2") Cities in a continent - largest to smallest
    a(href="/reports/citiesLargestSmallest3") Cities in a region- largest to smallest
    a(href="/reports/citiesLargestSmallest4") Cities in a country - largest to smallest
    a(href="/reports/citiesLargestSmallest5") Cities in a district - largest to smallest
    a(href="/reports/citiesTopN1") Top 'N' cities in the world
    a(href="/reports/citiesTopN2") Top 'N' cities in a continent
    a(href="/reports/citiesTopN3") Top 'N' cities in a region
    a(href="/reports/citiesTopN4") Top 'N' cities in a country
    a(href="/reports/citiesTopN5") Top 'N' cities in a district
    a(href="/reports/capitalLargestSmallest1") Capital cities in the world - largest to smallest
    a(href="/reports/capitalLargestSmallest2") Capital cities in a continent - largest to smallest
    a(href="/reports/capitalLargestSmallest3") Capital cities in a region - largest to smallest
    a(href="/reports/capitalTopN1") Top 'N' capital cities in the world
    a(href="/reports/capitalTopN2") Top 'N' capital cities in a continent
    a(href="/reports/capitalTopN3") Top 'N' capital cities in a region
    a(href="/reports/populationCities1") Population of people in living/not living in cities in each continent
    a(href="/reports/populationCities2") Population of people in living/not living in cities in each region
    a(href="/reports/populationCities3") Population of people in living/not living in cities in each country
