doctype html
include ../components/navbar.component.pug
html
  head
    link(rel="stylesheet", href="/css/main.css")
    title Pioneer | Reports 
  body
    .page
      h1.page.page__heading Reports Page
      .card-container           
        .card  
          img.card__img(src="images/dashboard/PopulationIcon.png", alt="Population")
          .card__content 
            h3.card__content__title World Population  
            p.card__content__paragraph Population Database 
            a.card__content__button(href="/reports/worldPopulation") Access

        .card  
          img.card__img(src="images/dashboard/continent-icon.png", alt="Continent")
          .card__content 
            h3.card__content__title Languages Report  
            p.card__content__paragraph Languages Report 
            a.card__content__button(href="/languages") Access